Port 22

HostKey /etc/ssh/ssh_host_rsa_key

# Logging
# SyslogFacility AUTH
LogLevel DEBUG

# Authentication:
LoginGraceTime 2m
PermitRootLogin no
StrictModes yes
PubkeyAuthentication no

AuthorizedKeysFile      .ssh/authorized_keys
HostbasedAuthentication no
PasswordAuthentication yes
PermitEmptyPasswords no

AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no

# Specifies whether sshd(8) should print /etc/motd when a user logs in interactively. The default is yes.
PrintMotd no 

# override default of no subsystems

# External SFTP subsystem
# Subsystem       sftp    /usr/lib/ssh/sftp-server

# Internal SFTP subsystem
Subsystem sftp internal-sftp